
/* THE CLUB  */
.club_section_one {
    height: 100vh;
    width: 100%;
    width: calc(100% - 80px);
    box-sizing: border-box;
    .cso_top{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #000;
        button{
            height: 40px;
            box-sizing: border-box;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 50px;
            border: none;
            color: #fff;
            background-color: #000;
          }
          h4{
            margin: 0;
           }
      }
      .cso_mid{
        height: 85vh;
        display: flex;
        flex-direction: row;
        border-bottom: #000 1px solid;
        .com_right{
            height: 100%;
            width: 50%;
            border-left: 1px solid #000;
            display: flex;
            flex-direction: column;
            h4{
                width: 100%;
                margin: 0;
                padding: 20px;
                text-align: right;
                padding-right: 80px;
                margin-bottom: 50px;
            }
            h5{
                margin: 0;
                font-weight: bold;
                font-size: 14pt;
            }
            .address{
                height: 150px;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                h2{
                    font-size: 14pt;
                    margin-left: 30px;
                    margin-top: 20px;
                }
            }
            .telephone{
                height: 150px;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                h2{
                    font-size: 14pt;
                    margin-left: 30px;
                    margin-top: 20px;
                }
            }
            .online{
                height: 200px;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                h2{
                    font-size: 14pt;
                    margin-left: 30px;
                    margin-top: 20px;
                }
            }
          }
        .com_left{
            height: 100%;
            width: 50%;
            border-left: 1px solid #000;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // background-color: red;
            h4{
                color: grey;
                margin-left: 40px;
            }
            .dates{
                height: 350px;
                width: 50%;
                margin-left: auto;
                margin-right: auto;

                .date_row{
                    height: 50px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .date_day{
                        width: 50%;
                        padding: 10px;
                        font-weight: 700;
                    }
                    .date_time{
                        width: 50%;
                        padding: 10px;
                        font-weight: 600;
                    }
                }
            }
            .service_availability{
                line-height: 100px;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                h5{
                    font-size: 16pt;
                    color: grey;
                }
            }
        }
      }

      .cso_bottom{
        height: 5vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        .csb_one{
            width: 25%;
            border-right: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .csb_two{
            width: 25%;
            border-right: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
          
          }
          .csb_three{
            width: 25%;
            border-right: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
          
          }
          .csb_four{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          h5{
            font-size: 12pt;
            font-weight: 800;
            color: rgb(168, 167, 167);
          }
      }
  }
  
  /* THE CLUB  */