
/* THE CLUB  */
.club_section_one {
    height: 100vh;
    width: 100%;
    width: calc(100% - 80px);
    box-sizing: border-box;
    .cso_top{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #000;
        button{
            height: 40px;
            box-sizing: border-box;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 50px;
            border: none;
            color: #fff;
            background-color: #000;
          }
          h4{
            margin: 0;
           }
      }
      .cso_mid{
        height: 85vh;
        display: flex;
        flex-direction: row;
        border-bottom: #000 1px solid;
        .com_right{
            height: 100%;
            width: 50%;
            border-left: 1px solid #000;
          }
      }

      .cso_bottom{
        height: 5vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        .csb_one{
            width: 25%;
            border-right: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .csb_two{
            width: 25%;
            border-right: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
          
          }
          .csb_three{
            width: 25%;
            border-right: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
          
          }
          .csb_four{
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          h5{
            font-size: 12pt;
            font-weight: 800;
            color: rgb(168, 167, 167);
          }
      }
  }
  
  /* THE CLUB  */