html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* NAVBAR STYLING  */
.navbar-s {
  height: 100vh;
  width: 80px;
  position: fixed;
  left: 0;
  top: 0;

  border-right: #000 1px solid ;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 20px;
  /* background-color: #fff; */
}

.navbar-s i {
  font-size: 40pt;
  font-weight: 200;
  -webkit-text-stroke: 3px white;
}

.navbar-s h5 {
  transform: rotate(-90deg);
  font-weight: 600;
  font-size: 16pt;
}
/* NAVBAR STYLING  */

/* HOME PAGE  */
.home-page {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
/* HOME PAGE  */

/* DETAILS PAGE  */
.details-page {
  width: calc(100% - 80px);
  height: 80vh;
  /* background-color: rgb(204, 204, 204); */
  /* float: right; */
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
}

.details-page
.dets-left {
  width: 50%;
  /* background-color: pink; */
  height: 80vh;
  position: relative;
  border-right: 1px solid #000;
  
  display: flex;
  justify-content: center;
}
.details-page
.dets-left img {
  height: 100%;
}

.details-page
.dets-right {
  width: 50%;
  /* background-color: rgb(202, 29, 58); */
  height: 80vh;
  position: relative;
}
.details-page
.dets-right
.dets-name {
  width: 100%;
  height: 10vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #000;
}
.details-page
.dets-right
.dets-name h4 {
  margin: 0;
  margin-left: 30px;
  font-size: 24pt;
}
.details-page
.dets-right
.dets-name h4
span {
  font-weight: 300;
  color:rgb(184, 183, 183)
}
.collapsible {
  margin-top: 0;
}
.dets-right
.cta{
  height: 100px;
  width: 100%;
  background-color: rgb(238, 236, 236);
  position: absolute;
  bottom: 0;
  color: rgb(158, 158, 158);

  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  box-sizing: border-box;
  padding-left: 20PX;
}

.dets-left
.dets-nav {
  height: 100px;
  width: 100%;
  background-color: rgb(241, 241, 241);
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.dets-left
.dets-nav h2 {
  font-size: 14pt;
}
/* DETAILS PAGE  */



/* LANDING PAGE  */
.l-section-one, 
.l-section-two {
  height: 200px;
  width: calc(100% - 80px);
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.l-section-one
.lso-one,
.l-section-two
.lst-one {
  height: 100vh;
  width: 33.3%;
  text-align: center;
  z-index: 10;
}

.l-section-one
.lso-one img, 
.l-section-two
.lst-one img{
  height: 100%;
  transition: all .2s ease-in-out;
}

.l-section-one
.lso-two, 
.l-section-two
.lst-two  {
  height: 100vh;
  width: 33.3%;
  text-align: center;
  z-index: 10;

}

.l-section-one
.lso-two img,
.l-section-two
.lst-two img{
  height: 70%;
  transition: all .2s ease-in-out;
}

.l-section-one
.lso-three, 
.l-section-two
.lst-three {
  height: 100vh;
  width: 33.3%;
  text-align: right;
  z-index: 10;
}
.l-section-one
.lso-three img,
.l-section-two
.lst-three img {
  height: 100%;
  transition: all .2s ease-in-out;
}

.l-section-one
.text-area,
.l-section-two
.text-area {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  background-color: #e4e4e4;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-section-one
.text-area h4,
.l-section-two
.text-area h4 {
  font-weight: 300;
  line-height: 10px;
  text-align: center;
  font-size: 2vw;
}

.l-section-two
a{
  z-index: 20;
}
.l-section-two
.lst-one img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.l-section-two
.lst-two img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.l-section-two
.lst-two img {
  height: 100%;
}
.l-section-two
.lst-three img:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.l-section-two
.text-area{
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-bottom: 50px;
}
/* LANDING PAGE  */

/* MODAL  */
.modal {
  width: 90%;
  max-height: 80vh;
}
/* MODAL  */
